.sidebar {
  padding: 10px 0 0 15px;
  padding-top: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
.route-link {
  border-bottom: 1px solid #eee;
  line-height: 1.15;
  padding: 12px 0;
  color: #1f1d1d;
  width: 100%;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.route-active {
  padding-left: 5px;
  color: #000000;
  font-weight: 700;
}

.sidebar a {
  font-size: 18px;
  text-decoration: none;
}

.sidebar-all-books {
  margin-bottom: 15px;
}
